*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: antiquewhite;
}
.img{
    width: 100%;

    margin: 5px auto;
    background-color: transparent;
    position: absolute;
    top: 2px;

    float: left;

}
.img img{
    width:90px;

}
#logo{
    position: absolute;
    left: 10px;
}
#logo1{
    width: 120px;
    position: absolute;
    right: 10px;
}
.titel{
    width: 20%;
    margin: 10px auto;
   
}
h1{
   
    font-size: 100%;
    margin: 10px auto;

}
h3{
   
    font-size: 70%;
    margin-left:15% ;
}
.nav
{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    border: 3px solid #021024;
    border-radius: 10px;
    
    background-color: #fff;
}
.nav1
{
    width: 90%;
    height: 50px;
   
    display: flex;
    justify-content: space-around;
    
    
    
    background-color: transparent;
}



.nav1>.link
{

   
    float: right;
    list-style: none;
    font-style: none;
    /* background-color: #021024; */
}
.link{
    width: 15% ;
    margin: 5px 2px ;
    border: 3px solid #021024;
    position: relative;
    text-decoration: none ;
    font-size: 80%;
    font-weight: bold;
    color: black;
    transition: 0.5s;
    padding: 0px 7px;
}
.link:hover{
    color: #a31e1e;
}
.img1{
    width:250px;
}
.img1 img{
    width:400px;
}